extends layout

block content
  .page-header
    h3 Document Viewer
  
  #processingDiv(class= status == 'converting' ? '' : 'hidden')
    h4
      img(src="ajax-loader.gif")
      |  Processing your PDF... this could take a minute
  #doneDiv(class= status == 'done' ? '' : 'hidden')
    | Click 
    a(href=file+'.txt') here
    |  to download.

block javascript
  script
    | txtFile="#{file}";
    include docviewer.js