extends layout

block content
  .page-header
    h3 Document Viewer
  
  #processingDiv(class= status == 'converting' ? '' : 'hidden')
    h4
      img(src="ajax-loader.gif")
      |  Converting your PDF... this could take a minute
  #cleaningDiv(class= status == 'cleaning' ? '' : 'hidden')
    h4
      img(src="ajax-loader.gif")
      |  Cleaning up the data...
  #doneDiv(class= status == 'done' ? '' : 'hidden')
    | Click 
    a(href=file+'_clean.txt') here
    |  to download.

block javascript
  script
    | txtFile="#{file}";
    include docviewer.js